#Apartments Prices Data Cleaning

##Import libs and data

In [65]:
import pandas as pd
import numpy as np
from datetime import date
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [66]:
olx_url = 'https://raw.githubusercontent.com/sztyberj/ApartmentsPricesInPoland/main/Data%20Collection/raw_olx.csv'
oto_url = 'https://raw.githubusercontent.com/sztyberj/ApartmentsPricesInPoland/main/Data%20Collection/raw_oto.csv'

raw_olx = pd.read_csv(olx_url, sep=';', header=None)
raw_oto = pd.read_csv(oto_url, sep=';', header=None)

In [67]:
raw_olx.head(5)

,0,1,2,3,4,5,6,7,8,9
0,Warsaw,1 122 000 zł,Prywatne,Cena za m²: 17000 zł/m²,Poziom: 5,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 66 m²,Liczba pokoi: 3 pokoje
1,Warsaw,695 000 zł,Prywatne,Cena za m²: 15795.45 zł/m²,Poziom: 3,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Apartamentowiec,Powierzchnia: 44 m²,Liczba pokoi: 2 pokoje
2,Warsaw,485 000 zł,Prywatne,Cena za m²: 11658.65 zł/m²,Poziom: 6,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,"Powierzchnia: 41,60 m²",Liczba pokoi: 2 pokoje
3,Warsaw,650 000 zł,Firmowe,Cena za m²: 13000 zł/m²,Poziom: 1,Umeblowane: Nie,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 50 m²,Liczba pokoi: 2 pokoje
4,Warsaw,640 000 zł,Firmowe,Cena za m²: 5936.92 zł/m²,Poziom: 3,Umeblowane: Nie,Rynek: Wtórny,Rodzaj zabudowy: Blok,"Powierzchnia: 107,80 m²",Liczba pokoi: 4 i więcej

In [68]:
raw_oto.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Warsaw,639 000 zł,12 057 zł/m²,Powierzchnia53 m²,Forma własnościzapytaj,Liczba pokoi2,Stan wykończeniado zamieszkania,Piętro2/3,Balkon / ogród / tarasbalkon,Czynsz880 zł,Miejsce parkingowezapytaj,Obsługa zdalnazapytaj,Ogrzewaniemiejskie
1,Warsaw,685 000 zł,15 055 zł/m²,"Powierzchnia45,5 m²",Forma własnościpełna własność,Liczba pokoi2,Stan wykończeniado zamieszkania,Piętro1/10,Balkon / ogród / tarasbalkon,Czynsz600 zł,Miejsce parkingowezapytaj,Obsługa zdalnazapytaj,Ogrzewaniemiejskie
2,Warsaw,649 000 zł,12 676 zł/m²,"Powierzchnia51,2 m²",Forma własnościpełna własność,Liczba pokoi2,Stan wykończeniado zamieszkania,Piętro2/4,Balkon / ogród / taraszapytaj,Czynsz540 zł,Miejsce parkingowezapytaj,Obsługa zdalnazapytaj,Ogrzewaniezapytaj
3,Warsaw,790 000 zł,17 100 zł/m²,"Powierzchnia46,2 m²",Forma własnościpełna własność,Liczba pokoi3,Stan wykończeniado zamieszkania,Piętro6/10,Balkon / ogród / tarasbalkon,Czynsz500 zł,Miejsce parkingowezapytaj,Obsługa zdalnazapytaj,Ogrzewaniemiejskie
4,Warsaw,790 000 zł,12 540 zł/m²,Powierzchnia63 m²,Forma własnościzapytaj,Liczba pokoi3,Stan wykończeniazapytaj,Piętro4/16,Balkon / ogród / taraszapytaj,Czynszzapytaj,Miejsce parkingowezapytaj,Obsługa zdalnazapytaj,Ogrzewaniemiejskie

##Cleaning raw OtoDom data

In [69]:
#Delete irrelevant columns
del raw_oto[4]
del raw_oto[6]
del raw_oto[8]
del raw_oto[9]
del raw_oto[10]
del raw_oto[11]
del raw_oto[12]

raw_oto

,0,1,2,3,5,7
0,Warsaw,639 000 zł,12 057 zł/m²,Powierzchnia53 m²,Liczba pokoi2,Piętro2/3
1,Warsaw,685 000 zł,15 055 zł/m²,"Powierzchnia45,5 m²",Liczba pokoi2,Piętro1/10
2,Warsaw,649 000 zł,12 676 zł/m²,"Powierzchnia51,2 m²",Liczba pokoi2,Piętro2/4
3,Warsaw,790 000 zł,17 100 zł/m²,"Powierzchnia46,2 m²",Liczba pokoi3,Piętro6/10
4,Warsaw,790 000 zł,12 540 zł/m²,Powierzchnia63 m²,Liczba pokoi3,Piętro4/16
...,...,...,...,...,...,...
5934,Zielona Gora,439 000 zł,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5935,Zielona Gora,439 000 zł,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5936,Zielona Gora,439 000 zł,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5937,Zielona Gora,439 000 zł,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5938,Zielona Gora,439 000 zł,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5

In [70]:
#Rename columns
raw_oto.columns = ['City', 'Price', 'Price/sqr_meter', 'Area', 'Rooms', 'Level']

In [71]:
raw_oto.City.unique()

array(['Warsaw', 'Wroclaw', 'Gdynia', 'Gdansk', 'Cracow', 'Szczecin',
       'Poznan', 'Zielona Gora'], dtype=object)

### Price column

**Delete polish words, symbols and spaces**

In [72]:
raw_oto.Price = raw_oto.Price.str.replace(' zł', '')
raw_oto.Price = raw_oto.Price.str.replace(' ', '')
raw_oto.Price

0       639000
1       685000
2       649000
3       790000
4       790000
         ...
5934    439000
5935    439000
5936    439000
5937    439000
5938    439000
Name: Price, Length: 5939, dtype: object

**Convert into numeric type**

In [73]:
#Change ',' into '.'
raw_oto.Price = raw_oto.Price.str.replace(',', '.')

In [74]:
raw_oto.Price = pd.to_numeric(raw_oto.Price)

raw_oto

,City,Price,Price/sqr_meter,Area,Rooms,Level
0,Warsaw,639000.000000000,12 057 zł/m²,Powierzchnia53 m²,Liczba pokoi2,Piętro2/3
1,Warsaw,685000.000000000,15 055 zł/m²,"Powierzchnia45,5 m²",Liczba pokoi2,Piętro1/10
2,Warsaw,649000.000000000,12 676 zł/m²,"Powierzchnia51,2 m²",Liczba pokoi2,Piętro2/4
3,Warsaw,790000.000000000,17 100 zł/m²,"Powierzchnia46,2 m²",Liczba pokoi3,Piętro6/10
4,Warsaw,790000.000000000,12 540 zł/m²,Powierzchnia63 m²,Liczba pokoi3,Piętro4/16
...,...,...,...,...,...,...
5934,Zielona Gora,439000.000000000,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5935,Zielona Gora,439000.000000000,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5936,Zielona Gora,439000.000000000,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5937,Zielona Gora,439000.000000000,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5938,Zielona Gora,439000.000000000,8 856 zł/m²,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5

###Price/sqr_meter column

**Delete symbols and spaces**

In [75]:
raw_oto['Price/sqr_meter'] = raw_oto['Price/sqr_meter'].str.replace(' zł/m²', '')
raw_oto['Price/sqr_meter'] = raw_oto['Price/sqr_meter'].str.replace('zł/м²', '')
raw_oto['Price/sqr_meter'] = raw_oto['Price/sqr_meter'].str.replace(' ', '')
raw_oto['Price/sqr_meter']

0       12057
1       15055
2       12676
3       17100
4       12540
        ...
5934     8856
5935     8856
5936     8856
5937     8856
5938     8856
Name: Price/sqr_meter, Length: 5939, dtype: object

**Convert into numeric type**

In [76]:
raw_oto['Price/sqr_meter'] = raw_oto['Price/sqr_meter'].str.replace(',', '.')

In [77]:
raw_oto['Price/sqr_meter'] = pd.to_numeric(raw_oto['Price/sqr_meter'])

raw_oto

,City,Price,Price/sqr_meter,Area,Rooms,Level
0,Warsaw,639000.000000000,12057.000000000,Powierzchnia53 m²,Liczba pokoi2,Piętro2/3
1,Warsaw,685000.000000000,15055.000000000,"Powierzchnia45,5 m²",Liczba pokoi2,Piętro1/10
2,Warsaw,649000.000000000,12676.000000000,"Powierzchnia51,2 m²",Liczba pokoi2,Piętro2/4
3,Warsaw,790000.000000000,17100.000000000,"Powierzchnia46,2 m²",Liczba pokoi3,Piętro6/10
4,Warsaw,790000.000000000,12540.000000000,Powierzchnia63 m²,Liczba pokoi3,Piętro4/16
...,...,...,...,...,...,...
5934,Zielona Gora,439000.000000000,8856.000000000,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5935,Zielona Gora,439000.000000000,8856.000000000,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5936,Zielona Gora,439000.000000000,8856.000000000,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5937,Zielona Gora,439000.000000000,8856.000000000,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5
5938,Zielona Gora,439000.000000000,8856.000000000,"Powierzchnia49,57 m²",Liczba pokoi3,Piętro1/5

###Area column

**Delete polish words from rows and symbols**

In [78]:
#Area column
raw_oto['Area'] = raw_oto['Area'].str.replace('Powierzchnia', '')
raw_oto['Area'] = raw_oto['Area'].str.replace(' m²', '')

**Convert into numeric type**

In [79]:
raw_oto['Area'] = raw_oto['Area'].str.replace(',', '.')

In [80]:
raw_oto['Area'] = pd.to_numeric(raw_oto['Area'])

###Rooms column

**Delete polish words from rows and spaces**

In [81]:
raw_oto['Rooms'] = raw_oto['Rooms'].str.replace('Liczba pokoi', '')
raw_oto['Rooms'] = raw_oto['Rooms'].str.replace(' ', '')
raw_oto.Rooms.unique()

array(['2', '3', '1', '5', '4', '7', '6', nan, 'więcejniż10', '8', '9',
       '10'], dtype=object)

In [82]:
raw_oto['Rooms'] = raw_oto['Rooms'].str.replace('więcejniż10', '10')
raw_oto.Rooms.unique()

array(['2', '3', '1', '5', '4', '7', '6', nan, '10', '8', '9'],
      dtype=object)

**Convert into numeric type**

In [83]:
raw_oto['Rooms'] = pd.to_numeric(raw_oto['Rooms'])

###Level column

**Delete polish words and spaces**

In [84]:
raw_oto['Level'] = raw_oto['Level'].str.replace('Piętro', '')
raw_oto.Level.unique()

array(['2/3', '1/10', '2/4', '6/10', '4/16', '3/6', '2/6', '3/4', '3/3',
       '7/15', '4/10', '1/6', 'parter/4', '6/7', '1/2', '1/5', '4/5',
       '4/4', '4/7', 'parter/2', '5/12', '7/7', '> 10/23', '5/8',
       'parter/5', '1/3', '1/4', 'parter', '1/12', '7/26', '> 10/26',
       '1/1', '5/10', 'parter/6', '2/2', 'parter/3', '5/5', 'parter/1',
       '3/9', '1/11', '> 10', '7/10', '7/9', '9/12', '9/10', '5', '7/12',
       '2/23', '3/10', '> 10/15', '10/15', 'parter/10', 'zapytaj', '1/8',
       '10/10', '10/12', '8/8', '4/8', '8/10', 'parter/7', '3/7',
       '> 10/13', '5/7', '6/6', '4/12', '4/6', '3', '3/16', '> 10/11',
       '8/13', '6/12', '8/15', '> 10/27', '10/11', '4', '3/5', 'parter/8',
       '7/8', '5/6', '3/8', '6/9', '> 10/12', '2/11', '10/13', '6/11',
       '8/12', '2/5', '7/11', '6/8', '2/7', '3/11', '2', '2/8', '2/15',
       '5/14', '5/9', '8/9', '2/10', 'parter/11', '1/13', 'poddasze/3',
       '1', '5/11', '9', '6', '6/19', '5/16', '1/7', '8', '4/11', '3/12',
       '9/9', '5/15', '5/26', '3/18', '4/23', '3/19', '2/22', '4/17',
       '7/14', '1/9', '2/9', nan, '> 10/17', '9/11', '3/17', '> 10/14',
       '2/12', '10/17', '2/13', '7', '1/16', '6/16', '1/15', '7/6',
       '> 10/10', '6/17', 'parter/16', '2/17', 'parter/17', '10/18',
       '7/18', '7/17', '10/16', 'parter/12', '5/17', '> 10/16', '8/16',
       '9/18', '8/17', '10/14', '4/9', '4/3', 'poddasze', 'suterena',
       '4/14', 'parter/9', 'suterena/2', '7/3', '8/11', '8/26',
       'poddasze/4', '3/2', '10/30', '> 10/30', '8/30', '7/16',
       'suterena/4', '9/15', '> 10/22', '6/15', '6/14', '3/15', '4/15',
       '6/18', '2/1', 'suterena/1', '> 10/18', '6/13'], dtype=object)

In [85]:
raw_oto['Level'] = raw_oto['Level'].str.replace('parter', '0')
raw_oto['Level'] = raw_oto['Level'].str.replace('suterena', '-0.5')
raw_oto['Level'] = raw_oto['Level'].str.replace('zapytaj', 'nan')
raw_oto['Level'] = raw_oto['Level'].str.replace('poddasze', '0.5')
raw_oto['Level'] = raw_oto['Level'].str.replace('> ', '')
raw_oto.Level.unique()

array(['2/3', '1/10', '2/4', '6/10', '4/16', '3/6', '2/6', '3/4', '3/3',
       '7/15', '4/10', '1/6', '0/4', '6/7', '1/2', '1/5', '4/5', '4/4',
       '4/7', '0/2', '5/12', '7/7', '10/23', '5/8', '0/5', '1/3', '1/4',
       '0', '1/12', '7/26', '10/26', '1/1', '5/10', '0/6', '2/2', '0/3',
       '5/5', '0/1', '3/9', '1/11', '10', '7/10', '7/9', '9/12', '9/10',
       '5', '7/12', '2/23', '3/10', '10/15', '0/10', 'nan', '1/8',
       '10/10', '10/12', '8/8', '4/8', '8/10', '0/7', '3/7', '10/13',
       '5/7', '6/6', '4/12', '4/6', '3', '3/16', '10/11', '8/13', '6/12',
       '8/15', '10/27', '4', '3/5', '0/8', '7/8', '5/6', '3/8', '6/9',
       '2/11', '6/11', '8/12', '2/5', '7/11', '6/8', '2/7', '3/11', '2',
       '2/8', '2/15', '5/14', '5/9', '8/9', '2/10', '0/11', '1/13',
       '0.5/3', '1', '5/11', '9', '6', '6/19', '5/16', '1/7', '8', '4/11',
       '3/12', '9/9', '5/15', '5/26', '3/18', '4/23', '3/19', '2/22',
       '4/17', '7/14', '1/9', '2/9', nan, '10/17', '9/11', '3/17',
       '10/14', '2/12', '2/13', '7', '1/16', '6/16', '1/15', '7/6',
       '6/17', '0/16', '2/17', '0/17', '10/18', '7/18', '7/17', '10/16',
       '0/12', '5/17', '8/16', '9/18', '8/17', '4/9', '4/3', '0.5',
       '-0.5', '4/14', '0/9', '-0.5/2', '7/3', '8/11', '8/26', '0.5/4',
       '3/2', '10/30', '8/30', '7/16', '-0.5/4', '9/15', '10/22', '6/15',
       '6/14', '3/15', '4/15', '6/18', '2/1', '-0.5/1', '6/13'],
      dtype=object)

**Drop NaN values**

In [86]:
raw_oto['Level'].replace('nan', np.nan, inplace=True)

In [87]:
raw_oto.dropna(inplace=True)
raw_oto.Level.unique()

array(['2/3', '1/10', '2/4', '6/10', '4/16', '3/6', '2/6', '3/4', '3/3',
       '7/15', '4/10', '1/6', '0/4', '6/7', '1/2', '1/5', '4/5', '4/4',
       '4/7', '0/2', '5/12', '7/7', '10/23', '5/8', '0/5', '1/3', '1/4',
       '0', '1/12', '7/26', '10/26', '1/1', '5/10', '0/6', '2/2', '0/3',
       '5/5', '0/1', '3/9', '1/11', '10', '7/10', '7/9', '9/12', '9/10',
       '5', '7/12', '2/23', '3/10', '10/15', '0/10', '1/8', '10/10',
       '10/12', '8/8', '4/8', '8/10', '0/7', '3/7', '10/13', '5/7', '6/6',
       '4/12', '4/6', '3', '3/16', '10/11', '8/13', '6/12', '8/15',
       '10/27', '4', '3/5', '0/8', '7/8', '5/6', '3/8', '6/9', '2/11',
       '6/11', '8/12', '2/5', '7/11', '6/8', '2/7', '3/11', '2', '2/8',
       '2/15', '5/14', '5/9', '8/9', '2/10', '0/11', '1/13', '0.5/3', '1',
       '5/11', '9', '6', '6/19', '5/16', '1/7', '8', '4/11', '3/12',
       '9/9', '5/15', '5/26', '3/18', '4/23', '3/19', '2/22', '4/17',
       '7/14', '1/9', '2/9', '10/17', '9/11', '3/17', '10/14', '2/12',
       '2/13', '7', '1/16', '6/16', '1/15', '7/6', '6/17', '0/16', '2/17',
       '0/17', '10/18', '7/18', '7/17', '10/16', '0/12', '5/17', '8/16',
       '9/18', '8/17', '4/9', '4/3', '0.5', '-0.5', '4/14', '0/9',
       '-0.5/2', '7/3', '8/11', '8/26', '0.5/4', '3/2', '10/30', '8/30',
       '7/16', '-0.5/4', '9/15', '10/22', '6/15', '6/14', '3/15', '4/15',
       '6/18', '2/1', '-0.5/1', '6/13'], dtype=object)

In [88]:
raw_oto.Level = raw_oto.Level.astype('str')

**Temporary data frame**

In [89]:
tmp = raw_oto.Level.str.split('/', n=1, expand=True)
tmp[0].unique()

array(['2', '1', '6', '4', '3', '7', '0', '5', '10', '9', '8', '0.5',
       '-0.5'], dtype=object)

**Append new column**

In [90]:
raw_oto['New_Level'] = tmp[0]

In [91]:
raw_oto.head(10)

,City,Price,Price/sqr_meter,Area,Rooms,Level,New_Level
0,Warsaw,639000.000000000,12057.000000000,53.000000000,2.000000000,2/3,2
1,Warsaw,685000.000000000,15055.000000000,45.500000000,2.000000000,1/10,1
2,Warsaw,649000.000000000,12676.000000000,51.200000000,2.000000000,2/4,2
3,Warsaw,790000.000000000,17100.000000000,46.200000000,3.000000000,6/10,6
4,Warsaw,790000.000000000,12540.000000000,63.000000000,3.000000000,4/16,4
5,Warsaw,756000.000000000,13500.000000000,56.000000000,3.000000000,3/6,3
6,Warsaw,1219000.000000000,20429.000000000,59.670000000,3.000000000,2/6,2
7,Warsaw,280000.000000000,16471.000000000,17.000000000,1.000000000,3/4,3
8,Warsaw,675000.000000000,10385.000000000,65.000000000,2.000000000,3/3,3
9,Warsaw,625000.000000000,18601.000000000,33.600000000,2.000000000,7/15,7

**Delete old Level column**

In [92]:
del raw_oto['Level']
raw_oto.columns = raw_oto.columns.str.replace('New_Level', 'Level')
raw_oto

,City,Price,Price/sqr_meter,Area,Rooms,Level
0,Warsaw,639000.000000000,12057.000000000,53.000000000,2.000000000,2
1,Warsaw,685000.000000000,15055.000000000,45.500000000,2.000000000,1
2,Warsaw,649000.000000000,12676.000000000,51.200000000,2.000000000,2
3,Warsaw,790000.000000000,17100.000000000,46.200000000,3.000000000,6
4,Warsaw,790000.000000000,12540.000000000,63.000000000,3.000000000,4
...,...,...,...,...,...,...
5934,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1
5935,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1
5936,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1
5937,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1
5938,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1

**Convert into numeric type**

In [93]:
raw_oto['Level'] = pd.to_numeric(raw_oto['Level'])

###Info about DataFrame

In [94]:
raw_oto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5812 entries, 0 to 5938
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             5812 non-null   object
 1   Price            5812 non-null   float64
 2   Price/sqr_meter  5812 non-null   float64
 3   Area             5812 non-null   float64
 4   Rooms            5812 non-null   float64
 5   Level            5812 non-null   float64
dtypes: float64(5), object(1)
memory usage: 317.8+ KB

In [95]:
raw_oto.describe()

,Price,Price/sqr_meter,Area,Rooms,Level
count,5812.000000000,5812.000000000,5812.000000000,5812.000000000,5812.000000000
mean,632720.497947350,11078.873193393,58.073683758,2.642463868,2.541724019
std,380958.565695056,3868.292478597,23.868506571,0.948242396,2.338433786
min,66000.000000000,1220.000000000,12.700000000,1.000000000,-0.500000000
25%,439000.000000000,8706.000000000,43.200000000,2.000000000,1.000000000
50%,550000.000000000,10380.500000000,53.940000000,3.000000000,2.000000000
75%,719035.000000000,12537.000000000,67.200000000,3.000000000,4.000000000
max,7812687.680000000,42692.000000000,466.000000000,10.000000000,10.000000000

In [96]:
pd.set_option('display.float_format', lambda x: '%.9f' % x)

In [97]:
raw_oto.describe()

,Price,Price/sqr_meter,Area,Rooms,Level
count,5812.000000000,5812.000000000,5812.000000000,5812.000000000,5812.000000000
mean,632720.497947350,11078.873193393,58.073683758,2.642463868,2.541724019
std,380958.565695056,3868.292478597,23.868506571,0.948242396,2.338433786
min,66000.000000000,1220.000000000,12.700000000,1.000000000,-0.500000000
25%,439000.000000000,8706.000000000,43.200000000,2.000000000,1.000000000
50%,550000.000000000,10380.500000000,53.940000000,3.000000000,2.000000000
75%,719035.000000000,12537.000000000,67.200000000,3.000000000,4.000000000
max,7812687.680000000,42692.000000000,466.000000000,10.000000000,10.000000000

##Cleaning raw Olx data

In [98]:
raw_olx

,0,1,2,3,4,5,6,7,8,9
0,Warsaw,1 122 000 zł,Prywatne,Cena za m²: 17000 zł/m²,Poziom: 5,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 66 m²,Liczba pokoi: 3 pokoje
1,Warsaw,695 000 zł,Prywatne,Cena za m²: 15795.45 zł/m²,Poziom: 3,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Apartamentowiec,Powierzchnia: 44 m²,Liczba pokoi: 2 pokoje
2,Warsaw,485 000 zł,Prywatne,Cena za m²: 11658.65 zł/m²,Poziom: 6,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,"Powierzchnia: 41,60 m²",Liczba pokoi: 2 pokoje
3,Warsaw,650 000 zł,Firmowe,Cena za m²: 13000 zł/m²,Poziom: 1,Umeblowane: Nie,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 50 m²,Liczba pokoi: 2 pokoje
4,Warsaw,640 000 zł,Firmowe,Cena za m²: 5936.92 zł/m²,Poziom: 3,Umeblowane: Nie,Rynek: Wtórny,Rodzaj zabudowy: Blok,"Powierzchnia: 107,80 m²",Liczba pokoi: 4 i więcej
...,...,...,...,...,...,...,...,...,...,...
3452,Zielona Gora,379 000 zł,Prywatne,Cena za m²: 8813.95 zł/m²,Poziom: 1,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 43 m²,Liczba pokoi: 2 pokoje
3453,Zielona Gora,290 000 zł,Firmowe,Cena za m²: 7250 zł/m²,Poziom: Parter,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 40 m²,Liczba pokoi: 3 pokoje
3454,Zielona Gora,360 000 zł,Prywatne,Cena za m²: 8571.43 zł/m²,Poziom: Parter,Umeblowane: Nie,Rynek: Pierwotny,Rodzaj zabudowy: Blok,Powierzchnia: 42 m²,Liczba pokoi: 2 pokoje
3455,Zielona Gora,379 000 zł,Prywatne,Cena za m²: 8813.95 zł/m²,Poziom: 1,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 43 m²,Liczba pokoi: 2 pokoje
3456,Zielona Gora,290 000 zł,Firmowe,Cena za m²: 7250 zł/m²,Poziom: Parter,Umeblowane: Tak,Rynek: Wtórny,Rodzaj zabudowy: Blok,Powierzchnia: 40 m²,Liczba pokoi: 3 pokoje

In [99]:
del raw_olx[2]
del raw_olx[5]
del raw_olx[6]
del raw_olx[7]

raw_olx

,0,1,3,4,8,9
0,Warsaw,1 122 000 zł,Cena za m²: 17000 zł/m²,Poziom: 5,Powierzchnia: 66 m²,Liczba pokoi: 3 pokoje
1,Warsaw,695 000 zł,Cena za m²: 15795.45 zł/m²,Poziom: 3,Powierzchnia: 44 m²,Liczba pokoi: 2 pokoje
2,Warsaw,485 000 zł,Cena za m²: 11658.65 zł/m²,Poziom: 6,"Powierzchnia: 41,60 m²",Liczba pokoi: 2 pokoje
3,Warsaw,650 000 zł,Cena za m²: 13000 zł/m²,Poziom: 1,Powierzchnia: 50 m²,Liczba pokoi: 2 pokoje
4,Warsaw,640 000 zł,Cena za m²: 5936.92 zł/m²,Poziom: 3,"Powierzchnia: 107,80 m²",Liczba pokoi: 4 i więcej
...,...,...,...,...,...,...
3452,Zielona Gora,379 000 zł,Cena za m²: 8813.95 zł/m²,Poziom: 1,Powierzchnia: 43 m²,Liczba pokoi: 2 pokoje
3453,Zielona Gora,290 000 zł,Cena za m²: 7250 zł/m²,Poziom: Parter,Powierzchnia: 40 m²,Liczba pokoi: 3 pokoje
3454,Zielona Gora,360 000 zł,Cena za m²: 8571.43 zł/m²,Poziom: Parter,Powierzchnia: 42 m²,Liczba pokoi: 2 pokoje
3455,Zielona Gora,379 000 zł,Cena za m²: 8813.95 zł/m²,Poziom: 1,Powierzchnia: 43 m²,Liczba pokoi: 2 pokoje
3456,Zielona Gora,290 000 zł,Cena za m²: 7250 zł/m²,Poziom: Parter,Powierzchnia: 40 m²,Liczba pokoi: 3 pokoje

In [100]:
raw_olx.columns = ['City', 'Price', 'Price/sqr_meter', 'Level', 'Area', 'Rooms']

In [101]:
raw_olx.City.unique()

array(['Warsaw', 'Wroclaw', 'Gdynia', 'Gdansk', 'Cracow', 'Szczecin',
       'Poznan', 'Zielona Gora'], dtype=object)

###Price column

**Delete symbols and spaces**

In [102]:
raw_olx.Price = raw_olx.Price.str.replace(' zł', '')
raw_olx.Price = raw_olx.Price.str.replace(' ', '')
raw_olx.Price = raw_olx.Price.str.replace(',', '')

raw_olx.Price

0       1122000
1        695000
2        485000
3        650000
4        640000
         ...
3452     379000
3453     290000
3454     360000
3455     379000
3456     290000
Name: Price, Length: 3457, dtype: object

**Convert into numeric type**

In [103]:
raw_olx.Price = pd.to_numeric(raw_olx.Price)

###Price/sqr_meter

**Delete symbols and spaces**

In [104]:
raw_olx['Price/sqr_meter'] = raw_olx['Price/sqr_meter'].str.replace('Cena za m²: ', '')
raw_olx['Price/sqr_meter'] = raw_olx['Price/sqr_meter'].str.replace(' zł/m²', '')
raw_olx['Price/sqr_meter'] = raw_olx['Price/sqr_meter'].str.replace(',', '.')

raw_olx['Price/sqr_meter']

0          17000
1       15795.45
2       11658.65
3          13000
4        5936.92
          ...
3452     8813.95
3453        7250
3454     8571.43
3455     8813.95
3456        7250
Name: Price/sqr_meter, Length: 3457, dtype: object

**Convert into numeric type**

In [105]:
raw_olx['Price/sqr_meter'] = pd.to_numeric(raw_olx['Price/sqr_meter'])

###Level column

**Delete polish words and spaces**

In [106]:
raw_olx.Level = raw_olx.Level.str.replace('Poziom: ', '')

raw_olx.Level.unique()

array(['5', '3', '6', '1', 'Umeblowane: Nie', 'Powyżej 10', '10', '8',
       '2', '7', 'Parter', 'Umeblowane: Tak', '4', '9', 'Suterena', nan,
       'Poddasze'], dtype=object)

In [107]:
raw_olx.Level = raw_olx.Level.str.replace('Umeblowane: Nie', 'nan')
raw_olx.Level = raw_olx.Level.str.replace('Umeblowane: Tak', 'nan')
raw_olx.Level = raw_olx.Level.str.replace('Powyżej 10', '11')
raw_olx.Level = raw_olx.Level.str.replace('Poddasze', '0.5')
raw_olx.Level = raw_olx.Level.str.replace('Suterena', '-0.5')
raw_olx.Level = raw_olx.Level.str.replace('Parter', '0')

raw_olx.Level.unique()

array(['5', '3', '6', '1', 'nan', '11', '10', '8', '2', '7', '0', '4',
       '9', '-0.5', nan, '0.5'], dtype=object)

**Drop NaN values**

In [108]:
raw_olx.Level.replace('nan', np.nan, inplace=True)
raw_olx.dropna(inplace=True)
raw_olx.Level.unique()

array(['5', '3', '6', '1', '11', '10', '8', '2', '7', '0', '4', '9',
       '-0.5', '0.5'], dtype=object)

**Convert into numeric type**

In [109]:
raw_olx.Level = pd.to_numeric(raw_olx.Level)

###Area column

**Delete polish words and symbols**

In [110]:
raw_olx.Area = raw_olx.Area.str.replace('Powierzchnia: ', '')
raw_olx.Area = raw_olx.Area.str.replace(' m²', '')
raw_olx.Area = raw_olx.Area.str.replace(',', '.')
raw_olx.Area = raw_olx.Area.str.replace(' ', '')
raw_olx.Area.unique()

array(['66', '44', '41.60', '50', '107.80', '60.36', '34.50', '45', '38',
       '39', '29', '33', '36.50', '43', '50.40', '54.43', '83.50',
       '78.20', '20', '865000', '62.50', '61', '46.60', '27', '42.30',
       '77.85', '56.20', '54.30', '41.50', '26', '55.55', '56.40', '63',
       '54.18', '38.50', '45.50', '54.11', '47.10', '104.70', '48.03',
       '55.90', '31.20', '44.50', '73', '98', '57', '41.80', '49.80',
       '86', '26.50', '37.80', '67', '31.14', '67.50', '45.81', '59.50',
       '26.40', '50.90', '54', '141', '48.06', '57.50', '65', '83', '40',
       '56.47', '59', '36', '87', '31', '75', '110.68', '30.72', '32',
       '49', '37', '59.90', '42', '25.10', '48.30', '62.60', '47', '30',
       '25', '42.98', '55', '76', '49.10', '48.90', '48', '55.84',
       '32.60', '71.20', '58', '52.90', '70', '33.33', '36.60', '77.46',
       '44.40', '51.46', '37.50', '52', '68.74', '69.30', '110', '75.75',
       '57.90', '41.40', '56', '42.80', '43.50', '68', '62', '71',
       '50.50', '36.95', '36.10', '60', '51.49', '74', '35', '58.50',
       '61.30', '90', '56.28', '46', '41', '64.80', '64', '79.90', '92',
       '49.05', '25.91', '38.20', '66.11', '57.57', '34', '28', '52.10',
       '42.62', '49.50', '60.20', '84', '58.10', '56.10', '21', '36.40',
       '37.46', '43.80', '53.40', '45.20', '67.10', '43.04', '38.30',
       '53', '62.46', '46.80', '53.50', '37.60', '48.95', '66.06',
       '19.40', '69.80', '19.30', '96.50', '48.20', '45.06', '80.60',
       '52.41', '52.40', '81.40', '40.80', '95', '42.12', '49.70', '22',
       '60.50', '32.70', '72', '48.83', '103', '55.40', '49.39', '47.80',
       '49.30', '64.30', '45.23', '69', '72.41', '85.60', '35.60',
       '71.13', '101', '35.76', '51.60', '56.90', '53.83', '40.14',
       '49.82', '63.56', '61.07', '57.70', '63.94', '107', '44.12',
       '45.98', '38.74', '38.26', '94.55', '26.36', '42.84', '32.56',
       '46.41', '61.80', '51.99', '65.80', '57.98', '52.13', '61.20',
       '63.10', '82', '42.76', '54.17', '38.16', '101.40', '51', '47.50',
       '30.95', '62.93', '52.36', '161.15', '66.83', '63.04', '55.04',
       '39.60', '81', '78', '73.03', '49.14', '78.10', '52.70', '48.10',
       '54.73', '93', '26.44', '15', '55.38', '89.90', '79', '73.50',
       '88', '44.60', '46.18', '100.60', '52.91', '54.70', '46.15',
       '50.70', '70.50', '53.76', '27.97', '33.20', '37.31', '36.80',
       '45.60', '53.70', '49.20', '45.58', '51.50', '40.60', '69.40',
       '57.69', '46.33', '42.90', '47.15', '46.30', '58.67', '31.90',
       '95.51', '36.20', '62.70', '27.80', '28.06', '31.50', '50.18',
       '17', '41.90', '94.05', '33.21', '51.37', '52.89', '42.52',
       '41.12', '96', '82.20', '46.43', '64.50', '51.40', '66.90',
       '73.70', '55.63', '113', '102', '52.25', '73.54', '48.75', '40.23',
       '30.32', '69.90', '51.57', '50.30', '34.60', '34.10', '34.15',
       '74.60', '71.90', '32.25', '42.60', '53.80', '42.50', '56.30',
       '69.34', '68.10', '23.80', '76.38', '28.52', '38.23', '35.13',
       '59.97', '44.70', '80', '105.70', '123.50', '39.57', '42.91',
       '46.70', '60.10', '38.75', '40.65', '37.55', '57.20', '60.40',
       '62.20', '43.20', '29.20', '31.80', '47.70', '54.54', '125',
       '59.04', '169', '27.50', '54.40', '65.02', '19.32', '42.70',
       '45.62', '36.68', '71.78', '38.19', '55.81', '71.56', '24', '14',
       '26.60', '29.50', '32.50', '66.02', '22.81', '82.41', '16.30',
       '66.80', '31.98', '36.81', '42.06', '30.60', '54.38', '30.09',
       '59.29', '77', '52.80', '100', '19.80', '82.90', '35.10', '59.84',
       '109', '20.81', '86.50', '89', '20.10', '47.30', '23.52', '53.20',
       '43.60', '54.10', '62.10', '43.31', '55.30', '55.99', '59.20',
       '37.63', '51.30', '57.60', '250', '130', '66.61', '70.74', '61.28',
       '61.74', '36.72', '40.19', '28.71', '50.10', '81.50', '38.80',
       '54.66', '20.30', '61.40', '40.70', '51.71', '28.50', '56.38',
       '57.44', '28.84', '21.10', '29.68', '63.18', '120', '64.70', '270',
       '43.15', '50.63', '75.30', '54.50', '44.44', '39.50', '205',
       '33.09', '20.95', '54.90', '46.01', '73.27', '33.56', '28.36',
       '43.77', '58.21', '66.48', '280', '33.50', '46.21', '52.50',
       '59.67', '39.40', '87.47', '60.89', '52.20', '43.67', '49.46',
       '43.30', '40.40', '27.60', '45.30', '34.42', '86.16', '68.31',
       '21.53', '33.87', '30.70', '39.11', '35.50', '36.17', '55.50',
       '48.22', '32.31', '48.80', '41.66', '46.95', '70.25', '56.80',
       '77.07', '74.69', '36.94', '76.41', '19', '112', '51.63', '89.47',
       '36.65', '53.14', '101.71', '32.37', '135', '71.50', '31.45',
       '52.46', '38.14', '35.90', '74.20', '65.77', '38.40', '137', '132',
       '104', '25.02', '44.14', '38.89', '60.19', '46.90', '114', '29.10',
       '55.56', '32.74', '55.47', '86.72', '57.92', '38.87', '57.18',
       '52.39', '62.30', '60.01', '33.06', '137.11', '36.12', '38.51',
       '40.22', '65.27', '578', '59.70', '82.32', '40.55', '57.74',
       '101.52', '60.31', '123', '139', '106', '44.68', '87.60', '40.90',
       '76.30', '47.29', '30.56', '65.70', '94.98', '31.89', '49.60',
       '63.90', '49.40', '57.36', '55.60', '53.86', '47.63', '68.30',
       '47.45', '27.92', '45.40', '42.05', '59.42', '46.69', '44.75',
       '49.59', '106.90', '79.42', '49.90', '59.82', '36.43', '33.90',
       '116', '40.02', '54.22', '84.31', '77.61', '58.11', '57.10',
       '50.01', '54.89', '96.30', '30.15', '46.11', '40.50', '27.32',
       '47.77', '29.26', '60.07', '54.60', '62.55', '42.33', '29.04',
       '129', '60.09', '42.11', '42.41', '50.98', '76.50', '23', '47.26',
       '99', '97', '47.40', '39.91', '73.60', '29.34', '47.20', '49.97',
       '27.33', '21.98', '88.20', '62.90', '39.49', '82.70', '64.90',
       '32.95', '41.04', '41.20', '25.90', '38.10', '56.67', '51.12',
       '46.50', '48.70', '60.08', '29.07', '28.40', '48.87', '229.40',
       '40.56', '84.75', '53.21', '227', '49.18', '39.90', '74.27',
       '72.90', '72.80', '52.30', '57.83', '28.10', '84.87', '160',
       '26.92', '86.60', '43.70', '65.15', '68.91', '59.80', '85',
       '33.76', '36.70', '64.29', '71.54', '140', '44.90', '82.10',
       '73.84', '97.70', '28.70', '61.90', '16', '71.10', '43.87',
       '61.50', '66.60', '35.40', '49.98', '35.68', '109.27', '51.10',
       '57.80', '70.40', '43.14', '34.59', '55.32', '61.10', '60.30',
       '54.76', '55.80', '45.15', '69.70', '48.69', '74.70', '44.20',
       '112.90'], dtype=object)

**Convert into numeric type**

In [111]:
raw_olx.Area = pd.to_numeric(raw_olx.Area)

###Rooms column

**Clear polish words and symbols**

In [112]:
raw_olx.Rooms

0         Liczba pokoi: 3 pokoje
1         Liczba pokoi: 2 pokoje
2         Liczba pokoi: 2 pokoje
3         Liczba pokoi: 2 pokoje
4       Liczba pokoi: 4 i więcej
                  ...
3452      Liczba pokoi: 2 pokoje
3453      Liczba pokoi: 3 pokoje
3454      Liczba pokoi: 2 pokoje
3455      Liczba pokoi: 2 pokoje
3456      Liczba pokoi: 3 pokoje
Name: Rooms, Length: 3392, dtype: object

In [113]:
raw_olx.Rooms = raw_olx.Rooms.str.replace('Liczba pokoi: ', '')
raw_olx.Rooms = raw_olx.Rooms.str.replace(' pokoje', '')
raw_olx.Rooms.unique()

array(['3', '2', '4 i więcej', '1 pokój'], dtype=object)

In [114]:
raw_olx.Rooms = raw_olx.Rooms.str.replace(' pokój', '')
raw_olx.Rooms = raw_olx.Rooms.str.replace(' i więcej', '')
raw_olx.Rooms.unique()

array(['3', '2', '4', '1'], dtype=object)

**Convert into numeric type**

In [115]:
raw_olx.Rooms = pd.to_numeric(raw_olx.Rooms)

###Reorganization of columns

In [116]:
raw_olx = raw_olx.reindex(columns=['City', 'Price', 'Price/sqr_meter', 'Area', 'Rooms', 'Level'])

###Info about DataFrame

In [117]:
raw_olx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3392 entries, 0 to 3456
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             3392 non-null   object
 1   Price            3392 non-null   float64
 2   Price/sqr_meter  3392 non-null   float64
 3   Area             3392 non-null   float64
 4   Rooms            3392 non-null   int64
 5   Level            3392 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 185.5+ KB

In [118]:
raw_olx.describe()

,Price,Price/sqr_meter,Area,Rooms,Level
count,3392.000000000,3392.000000000,3392.000000000,3392.000000000,3392.000000000
mean,645607.747346698,10906.441244104,563.155934552,2.472287736,2.605984670
std,2371102.337397386,3365.082343162,20999.681087437,0.864004627,2.458901253
min,7600.000000000,1.000000000,14.000000000,1.000000000,-0.500000000
25%,410000.000000000,8856.397500000,40.000000000,2.000000000,1.000000000
50%,515000.000000000,10632.500000000,49.935000000,2.000000000,2.000000000
75%,649000.000000000,12506.582500000,62.000000000,3.000000000,4.000000000
max,69085710.000000000,38536.590000000,865000.000000000,4.000000000,11.000000000

Too high difference between 75% and max value in Area column!

**Delete too high values**

In [119]:
raw_olx = raw_olx[raw_olx.Area != 865000.00]

In [120]:
raw_olx.describe()

,Price,Price/sqr_meter,Area,Rooms,Level
count,3390.000000000,3390.000000000,3390.000000000,3390.000000000,3390.000000000
mean,645478.312389381,10912.875132743,53.163696165,2.471976401,2.607522124
std,2371795.889118231,3355.627413464,22.745088265,0.864164394,2.458811374
min,7600.000000000,33.130000000,14.000000000,1.000000000,-0.500000000
25%,410000.000000000,8857.140000000,40.000000000,2.000000000,1.000000000
50%,515000.000000000,10632.500000000,49.860000000,2.000000000,2.000000000
75%,648750.000000000,12519.747500000,62.000000000,3.000000000,4.000000000
max,69085710.000000000,38536.590000000,578.000000000,4.000000000,11.000000000

##Merge DataFrames and delete duplicates

In [121]:
data = pd.concat([raw_olx, raw_oto], ignore_index=True)
data

,City,Price,Price/sqr_meter,Area,Rooms,Level
0,Warsaw,1122000.000000000,17000.000000000,66.000000000,3.000000000,5.000000000
1,Warsaw,695000.000000000,15795.450000000,44.000000000,2.000000000,3.000000000
2,Warsaw,485000.000000000,11658.650000000,41.600000000,2.000000000,6.000000000
3,Warsaw,650000.000000000,13000.000000000,50.000000000,2.000000000,1.000000000
4,Warsaw,640000.000000000,5936.920000000,107.800000000,4.000000000,3.000000000
...,...,...,...,...,...,...
9197,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1.000000000
9198,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1.000000000
9199,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1.000000000
9200,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1.000000000
9201,Zielona Gora,439000.000000000,8856.000000000,49.570000000,3.000000000,1.000000000

In [122]:
data.drop_duplicates(inplace=True)

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7046 entries, 0 to 9188
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             7046 non-null   object
 1   Price            7046 non-null   float64
 2   Price/sqr_meter  7046 non-null   float64
 3   Area             7046 non-null   float64
 4   Rooms            7046 non-null   float64
 5   Level            7046 non-null   float64
dtypes: float64(5), object(1)
memory usage: 385.3+ KB

In [124]:
data.describe()

,Price,Price/sqr_meter,Area,Rooms,Level
count,7046.000000000,7046.000000000,7046.000000000,7046.000000000,7046.000000000
mean,629179.783631848,11036.755334942,57.178071246,2.591967074,2.575503832
std,900542.433979910,3825.994410735,24.737771436,0.934619648,2.376721503
min,7600.000000000,33.130000000,12.700000000,1.000000000,-0.500000000
25%,429925.000000000,8666.752500000,42.252500000,2.000000000,1.000000000
50%,548714.500000000,10450.000000000,53.000000000,3.000000000,2.000000000
75%,699000.000000000,12640.000000000,66.000000000,3.000000000,4.000000000
max,69085710.000000000,42692.000000000,578.000000000,10.000000000,11.000000000

**Sort DataFrame by City column**

In [125]:
data.sort_values(by=['City'], inplace=True)

**Rename columns**

In [126]:
data.columns = ['City', 'Price [PLN]', 'Price/sqr_meter [m^2]', 'Area [m^2]', 'Rooms', 'Level']

##Save Data Frame into Google Drive

In [127]:
today = date.today()
d = today.strftime("%m%d%y")

In [128]:
xlsx = data.to_excel(f'/content/gdrive/My Drive/apartments_prices_in_poland_{d}.xlsx')
csv = data.to_csv(f'/content/gdrive/My Drive/apartments_prices_in_poland_{d}.csv', sep=';')